<header class="dark-bb">
  <nav class="navbar navbar-expand-lg">
    <a class='navbar-brand' href='/'><img src="<%= mainurl ? mainurl + '/' : './' %>assets/img/logo-light.svg" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headerMenu"
      aria-controls="headerMenu" aria-expanded="false" aria-label="Toggle navigation">
      <i class="icon ion-md-menu"></i>
    </button>

    <div class="collapse navbar-collapse" id="headerMenu">
      <ul class="navbar-nav ml-auto">
        <a class='btn-1' href='/auth/signin'>Sign In</a>
        <a class='btn-2' href='/auth/signup'>Get Started</a>
      </ul>
    </div>
  </nav>
</header>