<header class="dark-bb">
  <nav class="navbar navbar-expand-lg">
    <a class='navbar-brand' href='/'><img src="./assets/img/logo-light.svg" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headerMenu"
      aria-controls="headerMenu" aria-expanded="false" aria-label="Toggle navigation">
      <i class="icon ion-md-menu"></i>
    </button>

    <div class="collapse navbar-collapse" id="headerMenu">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" href="/dashboard?view=CryptoCurrency">CryptoCurrency</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" href="/trading/stocks">Stocks</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" href="/trading/forex">Forex</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" href='/wallet'>Deposit</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" href='/profile'>Account</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item header-custom-icon">
          <a class="nav-link" href="#" id="clickFullscreen">
            <i class="icon ion-md-cash">
              Bal: <%= currentUser ? currentUser.currency : 'USD' %> <%= currentUser ? Number(currentUser.balance).toFixed(2) : '0.00' %>
            </i>
          </a>
        </li>
        <li class="nav-item dropdown header-custom-icon">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="icon ion-md-notifications"></i>
            <span class="circle-pulse"></span>
          </a>
          <div class="dropdown-menu">
            <div class="dropdown-header d-flex align-items-center justify-content-between">
              <p class="mb-0 font-weight-medium">6 New Notifications</p>
              <a href="#!" class="text-muted">Clear all</a>
            </div>
            <div class="dropdown-body">
              <a href="#!" class="dropdown-item">
                <div class="icon">
                  <i class="icon ion-md-lock"></i>
                </div>
                <div class="content">
                  <p>Account password change</p>
                  <p class="sub-text text-muted">5 sec ago</p>
                </div>
              </a>
              <a href="#!" class="dropdown-item">
                <div class="icon">
                  <i class="icon ion-md-alert"></i>
                </div>
                <div class="content">
                  <p>Solve the security issue</p>
                  <p class="sub-text text-muted">10 min ago</p>
                </div>
              </a>
              <a href="#!" class="dropdown-item">
                <div class="icon">
                  <i class="icon ion-logo-android"></i>
                </div>
                <div class="content">
                  <p>Download android app</p>
                  <p class="sub-text text-muted">1 hrs ago</p>
                </div>
              </a>
              <a href="#!" class="dropdown-item">
                <div class="icon">
                  <i class="icon ion-logo-bitcoin"></i>
                </div>
                <div class="content">
                  <p>Bitcoin price is high now</p>
                  <p class="sub-text text-muted">2 hrs ago</p>
                </div>
              </a>
              <a href="#!" class="dropdown-item">
                <div class="icon">
                  <i class="icon ion-logo-usd"></i>
                </div>
                <div class="content">
                  <p>Payment completed</p>
                  <p class="sub-text text-muted">4 hrs ago</p>
                </div>
              </a>
            </div>
            <div class="dropdown-footer d-flex align-items-center justify-content-center">
              <a href="#!">View all</a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown header-img-icon">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <img src="https://ui-avatars.com/api/?name=<%= encodeURIComponent(currentUser ? currentUser.firstname + ' ' + currentUser.lastname : 'default user') %>&background=fce5e7&color=e50000&size=128&rounded=true&bold=true" alt="avatar">
          </a>
          <div class="dropdown-menu">
            <div class="dropdown-header d-flex flex-column align-items-center">
              <div class="info text-center">
                <p class="name font-weight-bold mb-0"><%= currentUser ? currentUser.firstname + ' ' + currentUser.lastname : 'Default User' %></p>
                <p class="email text-muted mb-3"><%= currentUser ? currentUser.email : 'defaultuser@gmail.com' %></p>
              </div>
            </div>
            <div class="dropdown-body">
              <ul class="profile-nav">
                <li class="nav-item">
                  <a class='nav-link' href='/profile'>
                    <i class="icon ion-md-person"></i>
                    <span>Profile</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class='nav-link' href='/wallet'>
                    <i class="icon ion-md-wallet"></i>
                    <span>My Wallet</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class='nav-link' href='/settings'>
                    <i class="icon ion-md-settings"></i>
                    <span>Settings</span>
                  </a>
                </li>
                <li class="nav-item" id="changeThemeDark">
                  <a href="#!" class="nav-link">
                    <i class="icon ion-md-moon"></i>
                    <span>Appearance</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class='nav-link red' href='/auth/logout'>
                    <i class="icon ion-md-power"></i>
                    <span>Log Out</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
    <script>
    document.onkeydown = function (e) {
      if (event.keyCode == 123) {
        return false;
      }
      if (e.ctrlKey && e.shiftKey && e.keyCode == "I".charCodeAt(0)) {
        return false;
      }
      if (e.ctrlKey && e.shiftKey && e.keyCode == "J".charCodeAt(0)) {
        return false;
      }
      if (e.ctrlKey && e.keyCode == "U".charCodeAt(0)) {
        return false;
      }
      if (e.ctrlKey && e.keyCode == "C".charCodeAt(0)) {
        return false;
      }
      if (e.ctrlKey && e.keyCode == "X".charCodeAt(0)) {
        return false;
      }
      if (e.ctrlKey && e.keyCode == "Y".charCodeAt(0)) {
        return false;
      }
      if (e.ctrlKey && e.keyCode == "Z".charCodeAt(0)) {
        return false;
      }
      if (e.keyCode == 67 && e.shiftKey && (e.ctrlKey || e.metaKey)) {
        return false;
      }
      if (
        e.keyCode == "J".charCodeAt(0) &&
        e.altKey &&
        (e.ctrlKey || e.metaKey)
      ) {
        return false;
      }
      if (
        e.keyCode == "I".charCodeAt(0) &&
        e.altKey &&
        (e.ctrlKey || e.metaKey)
      ) {
        return false;
      }
      if (e.ctrlKey && e.shiftKey && e.keyCode == "C".charCodeAt(0)) {
        return false;
      }
      if (
        (e.metaKey && e.keyCode == "S".charCodeAt(0)) ||
        (e.ctrlKey && e.keyCode == "S".charCodeAt(0))
      ) {
        return false;
      }
      if (e.ctrlKey && e.keyCode == "H".charCodeAt(0)) {
        return false;
      }
      if (e.ctrlKey && e.keyCode == "A".charCodeAt(0)) {
        return false;
      }
      if (
        (e.metaKey && e.keyCode == "F".charCodeAt(0)) ||
        (e.ctrlKey && e.keyCode == "F".charCodeAt(0))
      ) {
        return false;
      }
      if (
        (e.metaKey && e.keyCode == "E".charCodeAt(0)) ||
        (e.ctrlKey && e.keyCode == "E".charCodeAt(0))
      ) {
        return false;
      }
    };
    if (document.addEventListener) {
      document.addEventListener(
        "contextmenu",
        function (e) {
          e.preventDefault();
        },
        false
      );
    } else {
      document.attachEvent("oncontextmenu", function () {
        window.event.returnValue = false;
      });
    }
  </script>
</header>