<footer class="landing-footer text-white">
  <div class="container">
    <div class="col-md-12">
      <div class="top-footer py-3">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12 footer-logo">
            <div class="logo"><a href="index.html"><img src="images/logo/logo3.png" alt=""></a></div>
            <p>Our history goes back to 2007, You set goals and have a strategic financial plan but need to focus on
              actualization. QuantoraForex offers scalable growth solutions to execute trades and actualize your
              financial
              goals.</p>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-3 footer-list my-3">
            <h6 style="text-decoration: underline;">Services</h6>
            <ul>
              <li class="d-block"><a href="/trading/forex" class="p-0 m-0">Forex</a></li>
              <li class="d-block"><a href="/dashboard?view=CryptoCurrency" class="p-0 m-0">Cryptocurrency</a></li>
              <li class="d-block"><a href="/trading/stocks" class="p-0 m-0">Stocks</a></li>
              <li class="d-block"><a href="/trading/stocks?view=Indices" class="p-0 m-0">Indices</a></li>
              <li class="d-block"><a href="/trading/stocks?view=Commodities" class="p-0 m-0">Commodities</a></li>
              <li class="d-block"><a href="/trading/stocks?view=Cfds" class="p-0 m-0">CFDs</a></li>
            </ul>
          </div>
          <div class="col-md-2 col-sm-3 footer-list my-3">
            <h6 style="text-decoration: underline;">Quick Links</h6>
            <ul>
              <li class="d-block"><a href="/about" class="p-0 m-0">About Us</a></li>
              <li class="d-block"><a href="/service" class="p-0 m-0">What We Do</a></li>
              <li class="d-block"><a href="/risk-management" class="p-0 m-0">Risk Management</a></li>
              <li class="d-block"><a href="/faq" class="p-0 m-0">FAQ</a></li>
              <li class="d-block"><a href="/terms-and-conditions" class="p-0 m-0">Terms and Condition</a></li>
              <li class="d-block"><a href="/privacy-policy" class="p-0 m-0">Privacy Policy</a></li>
              <li class="d-block"><a href="/contact" class="p-0 m-0">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-3 col-xs-12 footer-newsletter">
            <h6 style="text-decoration: underline;">Risk Warning</h6>
            <p>QuantoraForex recommends that traders should know that online trading and CFDs are complex instruments,
              and
              come with a high risk of losing money rapidly and known as a 'high risk' monetary activity that has
              the
              potential to cause the trader to lose part of, or all of, the invested funds in a relatively short
              time
              period. All traders are kindly advised to decide if this activity will fit their needs.</p>

          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <a href='/'>
          <img src="<%= mainurl ? mainurl + '/' : './' %>assets/img/logo-light.svg" alt="QuantoraForex"
            style="scale: 2;" class="footer-logo">
        </a>
      </div>
      <div class="col-md-10 d-flex justify-content-end align-items-center">
        <div>Copyright <%= new Date().getFullYear() %>, &nbsp;<a href="/" class="text-white">QuantoraForex</a> &nbsp;-
            All Rights Reserved
        </div>
      </div>
    </div>
  </div>
</footer>