<div class="market-trade mb15">
  <div class="tab-content">
    <div class="tab-pane fade show active" id="pills-trade-limit" role="tabpanel">
      <div class="d-flex justify-content-between">
        <div class="market-trade-buy">
          <form id="market-trade-buy-sell-form" class="market-trade-form">
            <div class="input-group">
              <input type="number" name="volume" id="volume" class="form-control" placeholder="Amount to (Buy/Sell)" required>
              <div class="input-group-append">
                <span class="input-group-text">Volume</span>
              </div>
            </div>
            <div class="input-group">
              <select name="tradeType" id="tradeType" class="form-control" required>
                <option value="market">Market Execution</option>
              </select>
              <div class="input-group-append">
                <span class="input-group-text">Type</span>
              </div>
            </div>
            <div class="input-group">
              <select name="symbol" id="symbol" class="form-control" required>
                <% 
                  var symbolOptions = Symbols.CryptoPairs;
                  if (currentPath && currentPath.indexOf('/trading/stocks') === 0) {
                    symbolOptions = Symbols.StocksPairs;
                  } else if (currentPath && currentPath.indexOf('/trading/forex') === 0) {
                    symbolOptions = Symbols.ForexPairs;
                  } else if (currentPath && currentPath.indexOf('/dashboard') === 0) {
                    symbolOptions = Symbols.CryptoPairs;
                  }
                %>
                <% Object.keys(symbolOptions).forEach(function(symbol) { %>
                  <option value="<%= symbol %>"><%= symbolOptions[symbol] %></option>
                <% }); %>
              </select>
              <div class="input-group-append">
                <span class="input-group-text">Symbol</span>
              </div>
            </div>
            <div class="input-group">
              <input type="number" name="stopLoss" id="stopLoss" class="form-control mr-1" placeholder="Stop Loss" step="0.0001">
              <div class="input-group-append">
                <input type="number" name="takeProfit" id="takeProfit" class="input-group-text form-control ml-1"
                  placeholder="Take Profit" step="0.0001">
              </div>
            </div>
            <div class="input-group">
              <input type="text" name="comment" id="comment" class="form-control" placeholder="Comment">
            </div>

            <div class="row sm-gutters">
              <button class="col-md-6 btn buy" id="buyBtn">Buy</button>
              <button class="col-md-6 btn sell" id="sellBtn">Sell</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>