<!DOCTYPE html>
<html lang="en">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%= title %>
  </title>
  <link rel="icon" href="<%= mainurl ? mainurl + '/' : './' %>assets/img/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="<%= mainurl ? mainurl + '/' : './' %>assets/css/style.css">
</head>

<body id="dark">
  <%- include('partials/main-header.html') %>

  <div class="landing-hero">
    <div class="container">
      <div class="row">
        <div class="offset-md-2 col-md-8 text-center">
          <h2>FAQ</h2>
          <p>Never Hesitate to Ask.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="landing-feature landing-start faq-page faq">
    <div class="container">
      <div class="faq-title">
        <h4>QUESTIONS?</h4>
        <div class="row">
          <div class="col-lg-9">
            <p></p>
          </div>
        </div>
      </div>
      <div class="faq-panel">
        <div class="panel-group theme-accordion" id="accordiontwo">
          <div class="panel">
            <div class="panel-heading">
              <h6 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordiontwo" href="#collapse21" aria-expanded="false d-flex justify-content-start align-items-center"
                  class="collapsed">
                  How much money do you need to start trading forex ?</a>
                  <i class="icon ion-md-expand d-flex justify-content-end align-items-center"></i>
              </h6>
            </div>
            <div id="collapse21" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="panel-body">
                <p>The FX market has a low barrier of entry, which makes it highly accessible to most people.
                  However, it’s important to keep in mind that smaller account holders find themselves at a
                  disadvantage because the less a person is using to trade, the easier it is for the market to turn
                  against them and wipe them out. It’s all a matter of limiting the downside and maximizing the
                  upside, which sounds like common sense, but can be tricky to perform in a live trading
                  environment. This is why we recommend to all of our clients – whether beginner, intermediate or
                  advanced – to develop their own money management rules and adhere to them. At QuantoraForex  an
                  entry-level account can be created by depositing as little as $250, but whether you have an entry
                  account or a VIP account, with QuantoraForex  you have access to the same low latency execution,
                  competitive prices, and great service.</p>
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-heading">
              <h6 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordiontwo" href="#collapse22" class="collapsed d-flex justify-content-start align-items-center"
                  aria-expanded="false">
                  How do I start trading forex ?</a>
                  <i class="icon ion-md-expand d-flex justify-content-end align-items-center"></i>
              </h6>
            </div>
            <div id="collapse22" class="panel-collapse collapse" aria-expanded="false">
              <div class="panel-body">
                <p>We recommend to clients who are new to markets to register an account and spend some time
                  familiarising themselves with our educational content. The best way to begin trading forex – or
                  any other asset class for that matter – is to learn from those who came before you. Fortunately,
                  there is a great deal of educational material out there and many experienced traders and analysts
                  to learn from. At QuantoraForex  we offer a growing ebook library as well as a great selection of
                  video courses designed to quickly bring our beginners up to speed. The next step is to practice
                  trading on a demo account. This is important as it gives you a chance to get to grips with the
                  process of trading as well as the trading platform you are using. It also allows you to make
                  mistakes without suffering losses. Once you have familiarized yourself with the platform and how
                  it works, the next step is to start trading live.</p>
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-heading">
              <h6 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordiontwo" href="#collapse23" class="collapsed d-flex justify-content-start align-items-center"
                  aria-expanded="false">
                  What is forex trading?</a>
                  <i class="icon ion-md-expand d-flex justify-content-end align-items-center"></i>
              </h6>
            </div>
            <div id="collapse23" class="panel-collapse collapse" aria-expanded="false">
              <div class="panel-body">
                <p>The forex, or foreign exchange market, is the biggest and most highly traded market in the entire
                  world. It operates around the clock, five days a week. Over $5 trillion are traded in this market
                  every single day. Most people know about foreign exchange from the booths at airports and holiday
                  destinations that allow you to convert one currency into another. However, forex is a great deal
                  more exciting than that. Trading forex involves speculating on the strengths and weaknesses of
                  different currencies. Forex is traded in pairs, with the figure quoted for each pair referring to
                  how much of one currency can be purchased with one unit of another currency. For instance, if the
                  EUR/USD exchange rate is listed as 1.15, this means that 1 euro will buy you 1 dollar and 15
                  cents. When this number increases, it means that the euro is growing stronger in relation to the
                  dollar. When this number drops, it means that the dollar is growing stronger in relation to the
                  euro. In previous decades forex trading was exclusive to the foreign exchange desks of the big
                  banks, but the Internet revolution changed all that and made it much more accessible to people
                  from all walks of life.</p>
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-heading">
              <h6 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordiontwo" href="#collapse24" class="collapsed d-flex justify-content-start align-items-center"
                  aria-expanded="false">
                  Can you really make a living trading forex?</a>
                  <i class="icon ion-md-expand d-flex justify-content-end align-items-center"></i>
              </h6>
            </div>
            <div id="collapse24" class="panel-collapse collapse" aria-expanded="false">
              <div class="panel-body">
                <p>This all depends on how dedicated you are. Many have succeeded in turning their trading hobby
                  into a full-time career but it takes hard work and dedication. You have to develop strategies and
                  strict money management rules. People trade for all sorts of different reasons, but those who make
                  it as professionals all seem to have the same thing in common. They treat it like a business and
                  apply the same energy and discipline to it as they would with their own business. It’s a lifelong
                  journey and there are always new things to learn, this is why the idea of becoming a professional
                  trader is such an exciting prospect to so many people. At QuantoraForex  we are committed to guiding
                  our beginners through the process of learning how to trade and helping our more experienced
                  traders become even better and more well-rounded.</p>
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-heading">
              <h6 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordiontwo" href="#collapse25" class="collapsed d-flex justify-content-start align-items-center"
                  aria-expanded="false">
                  How do I withdraw funds ?</a>
                  <i class="icon ion-md-expand d-flex justify-content-end align-items-center"></i>
              </h6>
            </div>
            <div id="collapse25" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="panel-body">
                <p>You can submit a withdrawal request from the “Withdrawal” tab of your profile page. Please do not
                  forget to fill in the comment box for your withdrawal request. Make sure that your free margin, as
                  well as all applicable payment charges, exceed the amount specified in the withdrawal request.</p>
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-heading">
              <h6 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordiontwo" href="#collapse26" class="collapsed d-flex justify-content-start align-items-center"
                  aria-expanded="false">
                  What are the benefits of trading with us?</a>
                  <i class="icon ion-md-expand d-flex justify-content-end align-items-center"></i>
              </h6>
            </div>
            <div id="collapse26" class="panel-collapse collapse" aria-expanded="false">
              <div class="panel-body">
                <p>With QuantoraForex , you get a reputable, committed to fair trading practices and that has invested
                  heavily in ensuring that our traders are given every opportunity to improve themselves.</p>
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-heading active-panel">
              <h6 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordiontwo" href="#collapse27" class="" aria-expanded="true" d-flex justify-content-start align-items-center>
                  How can I contact you?</a>
                  <i class="icon ion-md-expand d-flex justify-content-end align-items-center"></i>
              </h6>
            </div>
            <div id="collapse27" class="panel-collapse collapse in" aria-expanded="true" style="">
              <div class="panel-body">
                <p>Our experienced support team is always available to help.

                  You can contact us by filling the contact form on this page.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="landing-number">
    <div class="container">
      <div class="row">
        <div class="col-md-8 d-flex justify-content-start align-items-center">
          <h3>Get a free financial plan consultation</h3>
        </div>
        <div class="col-md-4 d-flex justify-content-end align-items-center">
          <a href='/auth/signup' class="btn btn-light">TRY IT FOR FREE</a>
        </div>
      </div>
    </div>
  </div>

  <%- include('partials/main-footer.html') %>

  <script src="<%= mainurl ? mainurl + '/' : './' %>assets/js/jquery-3.4.1.min.js"></script>
  <script src="<%= mainurl ? mainurl + '/' : './' %>assets/js/popper.min.js"></script>
  <script src="<%= mainurl ? mainurl + '/' : './' %>assets/js/bootstrap.min.js"></script>
  <script src="<%= mainurl ? mainurl + '/' : './' %>assets/js/amcharts-core.min.js"></script>
  <script src="<%= mainurl ? mainurl + '/' : './' %>assets/js/amcharts.min.js"></script>
  <script src="<%= mainurl ? mainurl + '/' : './' %>assets/js/custom.js"></script>
</body>


</html>