<!DOCTYPE html>
<html lang="en">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%= title %>
  </title>
  <link rel="icon" href="<%= mainurl ? mainurl + '/' : './' %>assets/img/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="<%= mainurl ? mainurl + '/' : './' %>assets/css/style.css">
</head>

<body id="dark">
  <header class="dark-bb">
    <nav class="navbar navbar-expand-lg">
      <a class='navbar-brand' href='/'><img src="<%= mainurl ? mainurl + '/' : './' %>assets/img/logo-light.svg"
          alt="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headerMenu"
        aria-controls="headerMenu" aria-expanded="false" aria-label="Toggle navigation">
        <i class="icon ion-md-menu"></i>
      </button>

      <div class="collapse navbar-collapse" id="headerMenu">
        <ul class="navbar-nav ml-auto">
          <a class='btn-1' href='/auth/signin'>Sign In</a>
          <a class='btn-2' href='/auth/signup'>Get Started</a>
        </ul>
      </div>
    </nav>
  </header>

  <div class="landing-hero">
    <div class="container">
      <div class="row">
        <div class="offset-md-2 col-md-8 text-center">
          <h2>A trusted and secure cryptocurrency exchange.</h2>
          <p>Quantoraforex is the most advanced trading platform for making profit in the Blockchain ecosystem.
            Trade wisely CFDs Choose from 1000s of stocks</p>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter Your Email" aria-label="Enter Your Email"
              aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button" id="button-addon2">Get Started</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid no-fluid">
    <div class="row sm-gutters">
      <div class="col-md-12 mb15">
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
          <div class="tradingview-widget-container__widget"></div>
          <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js"
            async>
              {
                "symbols": [
                  {
                    "description": "",
                    "proName": "BINANCE:SOLUSDT"
                  },
                  {
                    "description": "",
                    "proName": "BINANCE:BTCUSDT"
                  },
                  {
                    "description": "",
                    "proName": "BINANCE:GRTUSDT"
                  },
                  {
                    "description": "",
                    "proName": "BINANCE:BNBUSDT"
                  },
                  {
                    "description": "",
                    "proName": "BINANCE:AXSUSDT"
                  },
                  {
                    "description": "",
                    "proName": "BITFINEX:BTCUSD"
                  },
                  {
                    "description": "",
                    "proName": "BINANCE:DOTUSDT"
                  },
                  {
                    "description": "",
                    "proName": "BINANCE:ICPUSDT"
                  }
                ],
                  "showSymbolLogo": true,
                    "displayMode": "compact",
                      "colorTheme": "dark",
                        "locale": "en"
              }
            </script>
        </div>
        <!-- TradingView Widget END -->
      </div>
    </div>
  </div>


  <div class="landing-feature landing-start">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Get started in a few steps</h2>
        </div>
        <div class="col-md-4">
          <div class="landing-feature-item">
            <img src="<%= mainurl ? mainurl + '/' : './' %>assets/img/landing/user.svg" alt="">
            <span>1</span>
            <h3>Create an account </h3>
          </div>
        </div>
        <div class="col-md-4">
          <div class="landing-feature-item">
            <img src="<%= mainurl ? mainurl + '/' : './' %>assets/img/landing/trade.svg" alt="">
            <span>
              2
            </span>
            <h3>Start buying & selling</h3>
          </div>
        </div>
        <div class="col-md-4">
          <div class="landing-feature-item">
            <img src="<%= mainurl ? mainurl + '/' : './' %>assets/img/landing/bank.svg" alt="">
            <span>3</span>
            <h3>Withdraw to your bank account </h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="landing-info-one landing-info-one-bg mtb100">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>The most advance and secure cryptocurrency platform.</h2>
          <p>It takes only a few minutes and even fewer clicks to enter the promising and exciting world of trading.
            Take the first step by clicking on the link below.</p>
          <a href='/auth/signup' class="btn btn-primary">Get Started</a>
          <br><br>
          <ul>
            <li><i class="icon ion-ios-checkmark-circle"></i> Live Technical Analysis</li>
            <li><i class="icon ion-ios-checkmark-circle"></i> Live Market Data</li>
            <li><i class="icon ion-ios-checkmark-circle"></i> Live Cryptocurrency Price</li>
            <li><i class="icon ion-ios-checkmark-circle"></i> Deposit & Withdraw</li>
            <li><i class="icon ion-ios-checkmark-circle"></i> Buy & Sell</li>
            <li><i class="icon ion-ios-checkmark-circle"></i> Coin Listing</li>
            <li><i class="icon ion-ios-checkmark-circle"></i> Manage Wallets</li>
            <li><i class="icon ion-ios-checkmark-circle"></i> Market depth</li>
          </ul>
        </div>
        <div class="col-md-6">
          <img src="<%= mainurl ? mainurl + '/' : './' %>assets/img/landing/dash-preview-dark.png"
            class="visible-mobile" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="landing-info-one mtb100">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <!-- TradingView Widget BEGIN -->
          <div class="tradingview-widget-container tradingview-gain-and-loser">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-hotlists.js"
              async>
                {
                  "colorTheme": "dark",
                    "dateRange": "12M",
                      "exchange": "US",
                        "showChart": true,
                          "locale": "en",
                            "width": "100%",
                              "height": "600",
                                "largeChartUrl": "",
                                  "isTransparent": false,
                                    "showSymbolLogo": true,
                                      "plotLineColorGrowing": "rgba(28, 217, 121, 1)",
                                        "plotLineColorFalling": "rgba(41, 98, 255, 1)",
                                          "gridLineColor": "rgba(240, 243, 250, 1)",
                                            "scaleFontColor": "rgba(120, 123, 134, 1)",
                                              "belowLineFillColorGrowing": "rgba(33, 222, 95, 0.12)",
                                                "belowLineFillColorFalling": "rgba(255, 0, 0, 0.12)",
                                                  "symbolActiveColor": "rgba(33, 150, 243, 0.12)"
                }
              </script>
          </div>
          <!-- TradingView Widget END -->
        </div>
        <div class="offset-md-1 col-md-6">
          <h2>Live Market Gainers and Losers tracking</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam iusto, nisi illo nulla alias fugiat
            repudiandae unde ab maxime placeat facere, dicta deleniti ipsam animi expedita quam minus perferendis
            veniam?</p>
          <ul>
            <li><i class="icon ion-ios-checkmark-circle"></i> Live Gainers Tracking</li>
            <li><i class="icon ion-ios-checkmark-circle"></i> Live Losers Tracking</li>
            <li><i class="icon ion-ios-checkmark-circle"></i> Live Market Data</li>
            <li><i class="icon ion-ios-checkmark-circle"></i> Live Cryptocurrency Price</li>
            <li><i class="icon ion-ios-checkmark-circle"></i> Past Coin Price check</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="landing-number">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>$327B</h2>
          <p>Quarterly volume traded</p>
        </div>
        <div class="col-md-4">
          <h2>17+</h2>
          <p>Countries supported
          </p>
        </div>
        <div class="col-md-4">
          <h2>6+M</h2>
          <p>Verified users
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="landing-feature">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Check Out<br>Our Account Types</h2>
          <h6>HIGH VOLUME HIGH PROFIT</h6>
          <p>The volume of your deposit determines your market opportunities and assets to trade.</p>
          <br>
        </div>
        <div class="col-md-3">
          <div class="landing-feature-item">
            <h3>Basic SILVER</h3>
            <h3><b>$250 - $4999</b></h3>
            <br><br>
            <ul class="p-0 m-0 text-left">
              <li><small>Min spread from 1.5 pips</small></li>
              <li><i class="ion ion-md-arrow-dropright-circle text-success"></i> Bonus up to: none</li>
              <li><i class="ion ion-md-arrow-dropright-circle text-success"></i> Customer support 24/5</li>
              <li><i class="ion ion-md-arrow-dropright-circle text-success"></i> Intro call</li>
              <li><i class="ion ion-md-arrow-dropright-circle text-success"></i> Personal account manager</li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="landing-feature-item">
            <h3>Basic GOLD</h3>
            <h3><b>$5000 - $9999</b></h3>
            <br><br>
            <ul class="p-0 m-0 text-left">
              <li><small>Min spread from 1.2 pips</small></li>
              <li><i class="ion ion-md-arrow-dropright-circle text-success"></i> Bonus up to: 25%</li>
              <li><i class="ion ion-md-arrow-dropright-circle text-success"></i> Customer support 24/5</li>
              <li><i class="ion ion-md-arrow-dropright-circle text-success"></i> Personal account manager</li>
              <li><i class="ion ion-md-arrow-dropright-circle text-success"></i> Investment research & analytics</li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="landing-feature-item">
            <h3>STANDARD SILVER</h3>
            <h3><b>$10,000 - $49,999</b></h3>
            <br><br>
            <ul class="p-0 m-0 text-left">
              <li><small>Min spread from 0.8 pips</small></li>
              <li><i class="ion ion-md-arrow-dropright-circle text-success"></i> Bonus up to: 50%</li>
              <li><i class="ion ion-md-arrow-dropright-circle text-success"></i> Customer support 24/5</li>
              <li><i class="ion ion-md-arrow-dropright-circle text-success"></i> Senior account manager</li>
              <li><i class="ion ion-md-arrow-dropright-circle text-success"></i> Individual trading strategies</li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="landing-feature-item">
            <h3>STANDARD GOLD</h3>
            <h3><b>$50,000 - $100,000</b></h3>
            <br><br>
            <ul class="p-0 m-0 text-left">
              <li><small>Min spread from 0.3 pips</small></li>
              <li><i class="ion ion-md-arrow-dropright-circle text-success"></i> Bonus up to: 100%</li>
              <li><i class="ion ion-md-arrow-dropright-circle text-success"></i> Customer support 24/5</li>
              <li><i class="ion ion-md-arrow-dropright-circle text-success"></i> Personal senior account manager</li>
              <li><i class="ion ion-md-arrow-dropright-circle text-success"></i> Weekly session market analyst</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="why-choose-us mb-3">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 text-white my-3">
          <div class="single-feature card no-bg p-3">
            <i style="font-size: 36px;" class="my-2 icon ion ion-ios-bookmarks"></i>
            <h4 class="card-title"><a href="contact-us.html">FREE CONSULTATION</a></h4>
            <p class="card-content">We give our clients the opportunity for a free consultation on any matters related
              to trading, how to
              start, market strategies, and risk management.</p>
          </div>
        </div>
        <div class="col-sm-6 text-white my-3">
          <div class="single-feature card no-bg p-3">
            <i style="font-size: 36px;" class="my-2 icon ion ion-ios-call"></i>
            <h4 class="card-title"><a href="#">24/7 Supports</a></h4>
            <p class="card-content">We provide all of our traders with friendly, efficient and professional customer
              care to help make their
              trading and investment experience as flawless and enjoyable as possible. Our multi-lingual service staff
              is highly experienced and has a detailed knowledge of both our systems and the financial markets. You can
              contact us via email, phone or live chat.</p>
          </div>
        </div>
        <div class="col-sm-6 text-white my-3">
          <div class="single-feature card no-bg p-3">
            <i style="font-size: 36px;" class="my-2 icon ion ion-ios-body"></i>
            <h4 class="card-title"><a href="#">Success Mission</a></h4>
            <p class="card-content">Choose an account type that matches your capabilities and appetite.
              There's no setup fee, no hidden fees, no extra charges or spreads.
              By opening an account, you will be granted with market reviews, a personal account manager, mobile/tablet
              app, a team of expert traders and 24/7 support.</p>
          </div>
        </div>
        <div class="col-sm-6 text-white my-3">
          <div class="single-feature card no-bg p-3">
            <i style="font-size: 36px;" class="my-2 icon ion ion-ios-desktop"></i>
            <h4 class="card-title"><a href="#">Trading Platform</a></h4>
            <p class="card-content">Our high-tech trading platform offers clients across the globe an opportunity to
              invest in over 1,000
              world-class assets including Forex, Stocks, Commodities, Indices and Cryptocurrencies.</p>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="landing-feature">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Here are a few reasons why <br> you should choose Quantora Forex</h2>
        </div>
        <div class="col-md-4">
          <div class="landing-feature-item">
            <img src="<%= mainurl ? mainurl + '/' : './' %>assets/img/landing/managment.svg" alt="">
            <h3>Web Trader Made Simple</h3>
            <p>A trading platform for the next generation of traders. Order status makes trading simple and easy without
              compromising on the details it provides. You must not be a professional trader to be able to use it.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="landing-feature-item">
            <img src="<%= mainurl ? mainurl + '/' : './' %>assets/img/landing/stroge.svg" alt="">
            <h3>Trading Concepts</h3>
            <p>The foreign exchange market - also known as forex or the FX market - is the world's most traded market,
              with turnover of $5.1 trillion per day.* For example, the U.S stock market trades around $257 billion a
              day.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="landing-feature-item">
            <img src="<%= mainurl ? mainurl + '/' : './' %>assets/img/landing/backup.svg" alt="">
            <h3>Intuitive</h3>
            <p>Status is designed to be intuitive, the idea being that anyone should be able to start up the platform
              and quickly get to grips with it. It's loaded with a variety of preset technical indicators and drawing
              tools ready to use.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="landing-sub">
    <div class="container">
      <div class="row">
        <div class="offset-md-1 col-md-10">
          <div class="landing-sub-content">
            <h2>I'm ready to talk about my trading experience
              and financial goal!</h2>
            <h2>We're excited to hear it, and you'll be even more excited when you schedule your free
              consultation. Start your journey today and experience the future of trading.
            </h2>
            <a href='/auth/signup'>FREE CONSULTATION</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="landing-number">
    <div class="container">
      <div class="row">
        <div class="col-md-8 d-flex justify-content-start align-items-center">
          <h3>Get a free financial plan consultation</h3>
        </div>
        <div class="col-md-4 d-flex justify-content-end align-items-center">
          <a href='/auth/signup' class="btn btn-light">TRY IT FOR FREE</a>
        </div>
      </div>
    </div>
  </div>

  <footer class="landing-footer text-white">
    <div class="container">
      <div class="col-md-12">
        <div class="top-footer py-3">
          <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 footer-logo">
              <div class="logo"><a href="index.html"><img src="images/logo/logo3.png" alt=""></a></div>
              <p>Our history goes back to 2007, You set goals and have a strategic financial plan but need to focus on
                actualization. Probankfex offers scalable growth solutions to execute trades and actualize your
                financial
                goals.</p>
              <ul class="social-icon">
                <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://www.probankfex.org/"><i
                      class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="https://twitter.com/intent/tweet?text=&amp;url=https%3A%2F%2Fwww.probankfex.org%2F&amp;"><i
                      class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href=""><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
              </ul>
            </div> <!-- /.footer-logo -->
            <div class="col-lg-2 col-md-3 col-sm-3 footer-list">
              <h6>Services</h6>
              <ul>
                <li class="d-block"><a href="/trading/forex" class="p-0 m-0">Forex</a></li>
                <li class="d-block"><a href="/dashboard?view=CryptoCurrency" class="p-0 m-0">Cryptocurrency</a></li>
                <li class="d-block"><a href="/trading/stocks" class="p-0 m-0">Stocks</a></li>
                <li class="d-block"><a href="/trading/stocks?view=Indices" class="p-0 m-0">Indices</a></li>
                <li class="d-block"><a href="/trading/stocks?view=Commodities" class="p-0 m-0">Commodities</a></li>
                <li class="d-block"><a href="/trading/stocks?view=Cfds" class="p-0 m-0">CFDs</a></li>
              </ul>
            </div>
            <div class="col-md-2 col-sm-3 footer-list">
              <h6>Quick Links</h6>
              <ul>
                <li class="d-block"><a href="/about.html" class="p-0 m-0">About Us</a></li>
                <li class="d-block"><a href="/service.html" class="p-0 m-0">What We Do</a></li>
                <li class="d-block"><a href="/risk-management.html" class="p-0 m-0">Risk Management</a></li>
                <li class="d-block"><a href="/faq.html" class="p-0 m-0">FAQ</a></li>
                <li class="d-block"><a href="/service-v4.html" class="p-0 m-0">Terms and Condition</a></li>
                <li class="d-block"><a href="/privacy-policy.html" class="p-0 m-0">Privacy Policy</a></li>
                <li class="d-block"><a href="/contact" class="p-0 m-0">Contact Us</a></li>
              </ul>
            </div>
            <div class="col-lg-4 col-md-3 col-xs-12 footer-newsletter">
              <h6>Risk Warning</h6>
              <p>Probankfex recommends that traders should know that online trading and CFDs are complex instruments,
                and
                come with a high risk of losing money rapidly and known as a 'high risk' monetary activity that has
                the
                potential to cause the trader to lose part of, or all of, the invested funds in a relatively short
                time
                period. All traders are kindly advised to decide if this activity will fit their needs.</p>

            </div> <!-- /.footer-newsletter -->
          </div> <!-- /.row -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <a href='/'>
            <img src="<%= mainurl ? mainurl + '/' : './' %>assets/img/logo-light.svg" alt="QuantoraForex"
              style="scale: 2;" class="footer-logo">
          </a>
        </div>
        <div class="col-md-10 d-flex justify-content-end align-items-center">
          <div>Copyright <%= new Date().getFullYear() %>, &nbsp;<a href="/" class="text-white">QuantoraForex</a> &nbsp;-
              All Rights Reserved
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="<%= mainurl ? mainurl + '/' : './' %>assets/js/jquery-3.4.1.min.js"></script>
  <script src="<%= mainurl ? mainurl + '/' : './' %>assets/js/popper.min.js"></script>
  <script src="<%= mainurl ? mainurl + '/' : './' %>assets/js/bootstrap.min.js"></script>
  <script src="<%= mainurl ? mainurl + '/' : './' %>assets/js/amcharts-core.min.js"></script>
  <script src="<%= mainurl ? mainurl + '/' : './' %>assets/js/amcharts.min.js"></script>
  <script src="<%= mainurl ? mainurl + '/' : './' %>assets/js/custom.js"></script>
</body>


</html>