<!DOCTYPE html>
<html lang="en">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%= title %>
  </title>
  <link rel="icon" href="<%= mainurl ? mainurl + '/' : './' %>assets/img/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="<%= mainurl ? mainurl + '/' : './' %>assets/css/style.css">
</head>

<body id="dark">
  <%- include('partials/main-header.html') %>

    <div class="landing-hero">
      <div class="container">
        <div class="row">
          <div class="offset-md-2 col-md-8 text-center">
            <h2>Privacy Policy</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="landing-feature landing-start">
      <div class="service-details text-left">
        <div class="container py-3">
          <h2>Privacy Policy</h2>
          <p>QuantoraForex values your security and privacy. Protecting your privacy is one of our top
            priorities. This privacy policy sets out how we collect information regarding Website users,
            what we may do with it, and what you can do to protect your privacy.</p>
          <p>We are using security measures and encryption systems, to make sure interaction with our website
            is smooth and safe. All transactions are performed under secured protocols, using the username
            and password chosen and guarded by you; the chances of someone else trading in your name are
            extremely low.</p>
          <p>Keeping your password safe: You should make sure that you don’t share the password with anyone.
            Pick a password that is hard to guess and change it every couple of months. Also remember to log
            out as soon as you stop trading with QuantoraForex, whenever you leave the computer and after every
            session.</p>
          <p>The first step to start trading is to open an account and this process, simple as it is, requires
            you to enter some personal data such as your first and last name, email and phone number.
            Additional details, as well as proof of identity may be required of you at any time. QuantoraForex
            will maintain the privacy of all your personal data we collect, including age, occupation or
            marital status. You may be required to provide the copies of ID, passport and photograph, in
            accordance with any policies that require such documents to be delivered. Furthermore, in some
            jurisdictions you may also need to submit financial information, investment experience and risk
            tolerance, all as may be required under law.</p>
          <p>In order to have unrestricted access to the trading account and be able to trade with ease, these
            documents and information may be required. There is no obligation on your part to submit them,
            but if you don’t, you won’t be able to open the account and trade online. Additionally, it is
            important to keep us informed about your personal data as soon as something important changes,
            so your profile will always be up to date, and as required under any law.</p>
          <p>We collect this information to administer and operate services, prevent fraud, defend our legal
            rights and for the purpose of compliance regarding the services we provide. QuantoraForex privacy
            policy guarantees that your personal information will not be sold, rented or traded, and won’t
            be disclosed unless the following conditions occur or for the purposes set out above. We share
            information with the associated firms and other persons processing your personal information or
            with banks and clearing houses in order to deliver the products and services you need for
            trading.</p>
          <p>When there is any suspicion of fraud or breach regarding the trading performed by the user, the
            privacy policy allows us to disclose your private data as needed, including to credit reference
            and fraud prevention agencies. The same applies for national and international enforcement
            bodies and courts when they require this kind of information. Excluding these situations, while
            you are trading with QuantoraForex, your personal information is reasonably safe from unauthorized
            use, damage, modification or disclosure, by all reasonable measures.</p>
          <p><strong>Underage and Child Privacy</strong></p>
          <p>By using this website you state and represent that you are over the age of 18 or any agree
            restriction applicable in your jurisdiction in order to participate in trading, as any laws
            applicable to yours may dictate. If you are under aged and entered the site by mistake, you
            should stop using the website and inform us promptly. Regardless of the foregoing, in order to
            protect child privacy, we never knowingly collect or maintain information from users under 18,
            and no part of our website is structured to attract anyone under the age of 18. Should the
            Website ever collect or maintain any such information, it will comply with the Children’s Online
            Privacy Protection Act (COPPA) and any other applicable law, under the appropriate jurisdiction.
          </p>
          <p><strong>Fee policy</strong></p>
          <p>In accordance with the working regulations, your trading account might be charged an inactivity
            fee and/or incomplete verification fee. For the further details, please contact the customer
            support department.</p>
          <p><strong>Changes to This Privacy Policy</strong></p>
          <p>This privacy policy may be changed from time to time, as we see fit. The binding version is the
            most updated version posted on the site. We may, at our discretion, inform you via e-mail
            regarding any material changes. Please note any and all usage of the site and services is
            subject to the Terms and Conditions, as may be amended from time to time by QuantoraForex, at its
            sole discretion.</p>
          <p><a href="/contact" class="btn bg-none text-primary">Contact Us</a></p>
          <p>For queries concerning privacy policy matters, please contact us at any time.</p>
          <p>&nbsp;</p>


        </div>
      </div>
    </div>

    <%- include('partials/main-footer.html') %>

      <script src="<%= mainurl ? mainurl + '/' : './' %>assets/js/jquery-3.4.1.min.js"></script>
      <script src="<%= mainurl ? mainurl + '/' : './' %>assets/js/popper.min.js"></script>
      <script src="<%= mainurl ? mainurl + '/' : './' %>assets/js/bootstrap.min.js"></script>
      <script src="<%= mainurl ? mainurl + '/' : './' %>assets/js/amcharts-core.min.js"></script>
      <script src="<%= mainurl ? mainurl + '/' : './' %>assets/js/amcharts.min.js"></script>
      <script src="<%= mainurl ? mainurl + '/' : './' %>assets/js/custom.js"></script>
</body>


</html>