<!DOCTYPE html>
<html lang="en">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= currentUser ? currentUser.firstname+"'s " : '' %><%= title %></title>
  <link rel="icon" href="./assets/img/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body id="dark">
  <%- include('partials/header.html') %>
  <div class="settings mtb15">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-lg-3">
          <%- include('partials/settings-menu.html') %>
        </div>
        <div class="col-md-12 col-lg-9">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="settings-profile" role="tabpanel"
              aria-labelledby="settings-profile-tab">
              <div class="card">
                <div class="card-body">
                  <% if (error) { %>
                    <div class="alert alert-danger alert-dismissible auto-dismiss-alert show" role="alert">
                      <%= error %>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  <% } else if (success) { %>
                    <div class="alert alert-success alert-dismissible auto-dismiss-alert show" role="alert">
                      <%= success %>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  <% } %>
                  <h5 class="card-title">General Information <% if (currentUser && currentUser.verified_status === 'verified') { %><i class="icon ion-md-ribbon text-primary" title="<%= currentUser.verified_status %>"></i><% } %></h5>
                  <div class="settings-profile">
                    <form method="post" action="/profile">
                      <input type="hidden" name="section" value="general">
                      <div class="form-row mt-4">
                        <div class="col-md-6">
                          <label for="formFirst">First name</label>
                          <input id="formFirst" name="firstname" type="text" class="form-control" placeholder="First name" value="<%= currentUser ? currentUser.firstname : '' %>">
                        </div>
                        <div class="col-md-6">
                          <label for="formLast">Last name</label>
                          <input id="formLast" name="lastname" type="text" class="form-control" placeholder="Last name" value="<%= currentUser ? currentUser.lastname : '' %>">
                        </div>
                        <div class="col-md-6">
                          <label for="emailAddress">Email</label>
                          <input id="emailAddress" name="email" type="text" class="form-control" placeholder="Enter your email" value="<%= currentUser ? currentUser.email : '' %>">
                        </div>
                        <div class="col-md-6">
                          <label for="phoneNumber">Phone</label>
                          <input id="phoneNumber" type="text" class="form-control" placeholder="Enter phone number" value="<%= currentUser ? currentUser.phone : '' %>" disabled>
                        </div>
                        <div class="col-md-6">
                          <label for="selectLanguage">Language</label>
                          <select name="language" id="selectLanguage" class="custom-select">
                            <option value="English" <%= currentUser && currentUser.language === 'English' ? 'selected' : '' %>>English</option>
                            <option value="Mandarin Chinese" <%= currentUser && currentUser.language === 'Mandarin Chinese' ? 'selected' : '' %>>Mandarin Chinese</option>
                            <option value="Spanish" <%= currentUser && currentUser.language === 'Spanish' ? 'selected' : '' %>>Spanish</option>
                            <option value="Arabic" <%= currentUser && currentUser.language === 'Arabic' ? 'selected' : '' %>>Arabic</option>
                            <option value="Russian" <%= currentUser && currentUser.language === 'Russian' ? 'selected' : '' %>>Russian</option>
                          </select>
                        </div>
                        <div class="col-md-6">
                          <label for="selectCurrency">Currency</label>
                          <select name="currency" id="selectCurrency" class="custom-select">
                            <option value="USD" <%= currentUser && currentUser.currency === 'USD' ? 'selected' : '' %>>USD</option>
                            <option value="EUR" <%= currentUser && currentUser.currency === 'EUR' ? 'selected' : '' %>>EUR</option>
                            <option value="GBP" <%= currentUser && currentUser.currency === 'GBP' ? 'selected' : '' %>>GBP</option>
                            <option value="CHF" <%= currentUser && currentUser.currency === 'CHF' ? 'selected' : '' %>>CHF</option>
                          </select>
                        </div>
                        <div class="col-md-12">
                          <label for="selectCountry">Country</label>
                          <input type="text" name="country" id="selectCountry" class="form-control" placeholder="Enter your country" value="<%= currentUser ? currentUser.country : '' %>" disabled>
                        </div>
                        <div class="col-md-12">
                          <input type="submit" value="Update">
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Security Information</h5>
                  <div class="settings-profile">
                    <form method="post" action="/profile">
                      <input type="hidden" name="section" value="security">
                      <div class="form-row">
                        <div class="col-md-6">
                          <label for="currentPass">Current password</label>
                          <input name="currentPass" id="currentPass" type="password" class="form-control" placeholder="Enter your current password">
                        </div>
                        <div class="col-md-6">
                          <label for="newPass">New password</label>
                          <input name="newPass" id="newPass" type="password" class="form-control" placeholder="Enter new password">
                        </div>
                        <div class="col-md-12">
                          <input type="submit" value="Update Password">
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="./assets/js/jquery-3.4.1.min.js"></script>
  <script src="./assets/js/popper.min.js"></script>
  <script src="./assets/js/bootstrap.min.js"></script>
  <script src="./assets/js/amcharts-core.min.js"></script>
  <script src="./assets/js/amcharts.min.js"></script>
  <script src="./assets/js/custom.js"></script>
</body>


</html>