<!DOCTYPE html>
<html lang="en">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%= currentUser ? currentUser.firstname+"'s " : '' %><%= title %></title>
  <link rel=" icon" href="/assets/img/favicon.png" type="image/x-icon">
      <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body id="dark">
  <%- include('partials/header.html') %>
  <div class="settings mtb15">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-lg-3">
          <div class="nav flex-column nav-pills settings-nav" id="v-pills-tab" role="tablist"
            aria-orientation="vertical">
            <a class="nav-link" id="settings-profile-tab" href="/profile"><i class="icon ion-md-person"></i>
              Profile</a>
            <a class="nav-link active" id="settings-wallet-tab" href="/wallet"><i class="icon ion-md-wallet"></i>
              Wallet</a>
            <a class="nav-link" id="settings-tab" href="/settings"><i class="icon ion-md-settings"></i> Settings</a>
          </div>
        </div>
        <div class="col-md-12 col-lg-9">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="settings-wallet" role="tabpanel"
              aria-labelledby="settings-wallet-tab">
              <div class="wallet">
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="coinBTC" role="tabpanel">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Balances</h5>
                        <ul>
                          <li class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                              <i class="icon ion-md-cash"></i>
                              <h2>Total Balance (Deposit / Withdraw below)</h2>
                            </div>
                            <div>
                              <h3>
                                <%= currentUser ? Number(currentUser.balance).toFixed(2) : '0.00' %>
                                  <%= currentUser ? currentUser.currency : 'USD' %>
                              </h3>
                            </div>
                          </li>
                          <li class="w-100">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="input-group">
                                  <input type="text" class="form-control" placeholder="Enter Amount (0.00)">
                                  <div class="input-group-prepend">
                                    <select name="currency" id="currency" class="form-control" required>
                                      <option value="bitcoin" selected>Bitcoin</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ul>
                        <button id="deposit-wallet-btn" type="button" class="btn text-dark green">Deposit <i
                            class="icon ion-md-arrow-down"></i></button>
                        <button onclick="location.href='/wallet/withdraw'" type="button" class="btn btn-dark">Withdraw
                          <i class="icon ion-md-arrow-up"></i></button>
                      </div>
                    </div>
                    <div class="card d-none" id="wallet-address">
                      <div class="card-body">
                        <h5 class="card-title">Wallet Deposit Address</h5>
                        <div class="row wallet-address">
                          <div class="col-md-8">
                            <p>Deposits to this address are unlimited. Note that you may not be able to withdraw all
                              of your
                              funds at once if you deposit more than your daily withdrawal limit.</p>
                            <br>
                            <p>Click on the Confirm button to mark this transaction as sent.</p>
                            <div class="input-group">
                              <span class="form-control" id="wallet-address-value">
                                <%= global_wallet_btc_address %>
                              </span>
                              <div class="input-group-prepend">
                                <button id="wallet-address-copy" type="button" class="badge text-white"
                                  style="background-color: transparent !important;"><i
                                    class="icon ion-md-copy"></i></button>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <button class="btn btn-success">Confirm as Sent</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Latest Transactions</h5>
                        <div class="wallet-history">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>No.</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Amount</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                <td>25-04-2019</td>
                                <td><i class="icon ion-md-checkmark-circle-outline green"></i></td>
                                <td>4.5454334</td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td>25-05-2019</td>
                                <td><i class="icon ion-md-checkmark-circle-outline green"></i></td>
                                <td>0.5484468</td>
                              </tr>
                              <tr>
                                <td>3</td>
                                <td>25-06-2019</td>
                                <td><i class="icon ion-md-close-circle-outline red"></i></td>
                                <td>2.5454545</td>
                              </tr>
                              <tr>
                                <td>4</td>
                                <td>25-07-2019</td>
                                <td><i class="icon ion-md-checkmark-circle-outline green"></i></td>
                                <td>1.45894147</td>
                              </tr>
                              <tr>
                                <td>5</td>
                                <td>25-08-2019</td>
                                <td><i class="icon ion-md-close-circle-outline red"></i></td>
                                <td>2.5454545</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/assets/js/jquery-3.4.1.min.js"></script>
  <script src="/assets/js/popper.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/amcharts-core.min.js"></script>
  <script src="/assets/js/amcharts.min.js"></script>
  <script src="/assets/js/custom.js"></script>
</body>


</html>