<!DOCTYPE html>
<html lang="en">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
  <link rel="icon" href="<%= mainurl ? mainurl + '/' : './' %>assets/img/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="<%= mainurl ? mainurl + '/' : './' %>assets/css/style.css">
</head>

<body id="dark">
  <%- include('partials/header.html') %>
  <div class="container-fluid mtb15 symbol-info">
    <div class="row">
      <div class="col-md-9 m-0 p-0" style="overflow-y: scroll; height: 100vh;">
        <div class="col-md-12">
          <!-- TradingView Widget BEGIN -->
          <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript"
              src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js" async>
                {
                  "symbol": "NASDAQ:TSLA",
                    "width": "100%",
                      "locale": "en",
                        "colorTheme": "dark",
                          "isTransparent": false
                }
              </script>
          </div>
          <!-- TradingView Widget END -->
        </div>
        <div class="col-md-12">
          <!-- TradingView Widget BEGIN -->
          <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript"
              src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js" async>
                {
                  "symbol": "NYSE:NKE",
                    "width": "100%",
                      "locale": "en",
                        "colorTheme": "dark",
                          "isTransparent": false
                }
              </script>
          </div>
          <!-- TradingView Widget END -->
        </div>
        <div class="col-md-12">
          <!-- TradingView Widget BEGIN -->
          <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript"
              src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js" async>
                {
                  "symbol": "NASDAQ:AAPL",
                    "width": "100%",
                      "locale": "en",
                        "colorTheme": "dark",
                          "isTransparent": false
                }
              </script>
          </div>
          <!-- TradingView Widget END -->
        </div>
        <div class="col-md-12">
          <!-- TradingView Widget BEGIN -->
          <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript"
              src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js" async>
                {
                  "symbol": "NYSE:BA",
                    "width": "100%",
                      "locale": "en",
                        "colorTheme": "dark",
                          "isTransparent": false
                }
              </script>
          </div>
          <!-- TradingView Widget END -->
        </div>
        <div class="col-md-12">
          <!-- TradingView Widget BEGIN -->
          <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript"
              src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js" async>
                {
                  "symbol": "NASDAQ:AMZN",
                    "width": "100%",
                      "locale": "en",
                        "colorTheme": "dark",
                          "isTransparent": false
                }
              </script>
          </div>
          <!-- TradingView Widget END -->
        </div>
        <div class="col-md-12">
          <!-- TradingView Widget BEGIN -->
          <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript"
              src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js" async>
                {
                  "symbol": "NASDAQ:MSFT",
                    "width": "100%",
                      "locale": "en",
                        "colorTheme": "dark",
                          "isTransparent": false
                }
              </script>
          </div>
          <!-- TradingView Widget END -->
        </div>
        <div class="col-md-12">
          <!-- TradingView Widget BEGIN -->
          <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript"
              src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js" async>
                {
                  "symbol": "NASDAQ:AMD",
                    "width": "100%",
                      "locale": "en",
                        "colorTheme": "dark",
                          "isTransparent": false
                }
              </script>
          </div>
          <!-- TradingView Widget END -->
        </div>
        <div class="col-md-12">
          <!-- TradingView Widget BEGIN -->
          <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript"
              src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js" async>
                {
                  "symbol": "NASDAQ:NFLX",
                    "width": "100%",
                      "locale": "en",
                        "colorTheme": "dark",
                          "isTransparent": false
                }
              </script>
          </div>
          <!-- TradingView Widget END -->
        </div>
        <div class="col-md-12">
          <!-- TradingView Widget BEGIN -->
          <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript"
              src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js" async>
                {
                  "symbol": "NASDAQ:FB",
                    "width": "100%",
                      "locale": "en",
                        "colorTheme": "dark",
                          "isTransparent": false
                }
              </script>
          </div>
          <!-- TradingView Widget END -->
        </div>
        <div class="col-md-12">
          <!-- TradingView Widget BEGIN -->
          <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript"
              src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js" async>
                {
                  "symbol": "NYSE:CCL",
                    "width": "100%",
                      "locale": "en",
                        "colorTheme": "dark",
                          "isTransparent": false
                }
              </script>
          </div>
          <!-- TradingView Widget END -->
        </div>
        <div class="col-md-12">
          <!-- TradingView Widget BEGIN -->
          <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript"
              src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js" async>
                {
                  "symbol": "NASDAQ:NVDA",
                    "width": "100%",
                      "locale": "en",
                        "colorTheme": "dark",
                          "isTransparent": false
                }
              </script>
          </div>
          <!-- TradingView Widget END -->
        </div>
        <div class="col-md-12">
          <!-- TradingView Widget BEGIN -->
          <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript"
              src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js" async>
                {
                  "symbol": "NYSE:DAL",
                    "width": "100%",
                      "locale": "en",
                        "colorTheme": "dark",
                          "isTransparent": false
                }
              </script>
          </div>
          <!-- TradingView Widget END -->
        </div>
        <div class="col-md-12">
          <!-- TradingView Widget BEGIN -->
          <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript"
              src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js" async>
                {
                  "symbol": "NYSE:BABA",
                    "width": "100%",
                      "locale": "en",
                        "colorTheme": "dark",
                          "isTransparent": false
                }
              </script>
          </div>
          <!-- TradingView Widget END -->
        </div>
      </div>
      <div class="col-md-3">
        <%- include('partials/market-trade.html') %>
      </div>
    </div>
  </div>

  <script src="<%= mainurl ? mainurl + '/' : './' %>assets/js/jquery-3.4.1.min.js"></script>
  <script src="<%= mainurl ? mainurl + '/' : './' %>assets/js/popper.min.js"></script>
  <script src="<%= mainurl ? mainurl + '/' : './' %>assets/js/bootstrap.min.js"></script>
  <script src="<%= mainurl ? mainurl + '/' : './' %>assets/js/amcharts-core.min.js"></script>
  <script src="<%= mainurl ? mainurl + '/' : './' %>assets/js/amcharts.min.js"></script>
  <script src="<%= mainurl ? mainurl + '/' : './' %>assets/js/Chart.bundle.min.js"></script>
  <script src="<%= mainurl ? mainurl + '/' : './' %>assets/js/custom.js"></script>
</body>

</html>